<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Weather</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Прогноз погоды в Москве</h1>
        <table class="table" id="weatherTable">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Температура</th>
                    <th>Облачность</th>
                </tr>
            </thead>
            <tbody>
                {% for weatherDay in weatherData %}
                    <tr>
                        <td>{{ weatherDay.date|date("d.m.Y") }}</td>
                        <td>{% if weatherDay.temp > 0 %}+{% endif %}{{ weatherDay.temp|round }}</td>
                        <td>{{ weatherDay.cloudinessPercent }}%</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-success" id="updateButton">Обновить</button>
        <script type="text/javascript" src="/js/jquery.3.7.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
